{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
            Combat 3.0
            {% endblock %}
        </title>
        <style>
            @import url("{% static 'baseStyles.css' %}");
        </style>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    <li><a href="/">Combat 3.0</a></li>
                    <li><a href="/register/sign/up">Sign up</a></li>
                    <li><a href="/register/sign/in">Sign in</a></li>
                    <li><a href="/register/sign/out">Sign out</a></li>
                    <li><a href="/game">Game</a></li>
                </ul>
            </nav>
            <div  id="showSettings">
            {% block settings %}
            {% endblock %}
            </div>
        </header>
        {% block content %}
        {% endblock%}
        <footer>
            All rights reserved. This game was made by Daniel Enesi (Backend)
            and Andrew Emeghebo (Front-end design)
        </footer>
    </body>
</html>