<head>
    <meta http-equiv="cache-control" content="no-cache">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="no-cache">
</head>
{% load static %}
{% if game.started %}
<style>
    @import url("{% static 'game/game.css' %}");
</style>
<span id="username">{{ request.user.username }}</span>
<div id="gameInfo">
    Size: <span id="size">{{ game.size }}</span><br>
    Site: <span id="site">{{ game.pk }}</span><br>
    Max Hits: <span id="hits">{{ game.max_hits }}</span><br>
    Real: <span id="real">{{ game.n_real }}</span><br>
    Bots: <span id="bots">{{ game.n_bots }}</span><br>
    <span id="positions">{{ positions }}</span>
</div>
<div id="world">{{ game.data }}</div>
<script>
    let can_play = {{ can_play|lower }}
    // will determine a lot. Enemy only. Bot will have another movement type
    // moveByServer.
</script>
<script src="{% static 'funcs.js' %}"></script>
<script src="{% static 'game/block.js' %}"></script>
<script src="{% static 'game/player.js' %}"></script>
<script src="{% static 'game/bot.js' %}"></script>
<script src="{% static 'game/comrade.js' %}"></script>
<script src="{% static 'game/enemy.js' %}"></script>
<script src="{% static 'game/game.js' %}"></script>
<script src="{% static 'game/events.js' %}"></script>
{% else %}
<!-- do the waiting, should restart after 2 seconds -->
Only {{ n_players }} real players out of {{ game.n_real }} real players
have joined. Refreshing...
<script>
    // waiting logic
    setTimeout(()=>location.reload(), 2000);
</script>
{% endif %}