{% load static %}
<style>
    @import url("{% static 'game/game.css' %}");
</style>
<div id="world">
    {{ game.data }}
</div>
<script>
    let can_play = eval("{{ can_play|lower }}")
    // will determine a lot. Enemy only. Bot will have another movement type
    // moveByServer.
</script>
<script src="{% static 'funcs.js' %}"></script>
<script src="{% static 'game/block.js' %}"></script>
<script src="{% static 'game/player.js' %}"></script>
<script src="{% static 'game/bot.js' %}"></script>
<script src="{% static 'game/comrade.js' %}"></script>
<script src="{% static 'game/enemy.js' %}"></script>
<script src="{% static 'game/game.js' %}"></script>
<script src="{% static 'game/events.js' %}"></script>