{% load static %}
<style>
    @import url("{% static 'game/game.css' %}");
</style>
<div id="world">
    {% for x in game %}
    <pre>{{ x }}</pre>
    {% endfor %}
</div>
<script src="{% static 'funcs.js' %}"></script>
<script src="{% static 'game/block.js' %}"></script>
<script src="{% static 'game/player.js' %}"></script>
<script src="{% static 'game/comrade.js' %}"></script>
<script src="{% static 'game/enemy.js' %}"></script>
<script src="{% static 'game/game.js' %}"></script>
<script src="{% static 'game/events.js' %}"></script>