{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{{ user.name }} Lounge</title>
        <style>
            @import url("{% static 'lounge/lounge.css' %}");
        </style>
    </head>
    <body>
        <div id="others">
            <hr>
            <h2>Online Users</h2>
            <ul id="onlinePlayers" class="uiHolder">
            {% for player in online_users %}
                <li>
                    <span class="pName">
                        {{ player.username }}
                    </span>
                    <span class="pRank">
                        {{ rank }}
                    </span>
                    <button class="gameLink pMessage">
                        Message
                    </button>
                </li>
            {% endfor %}
            </ul>
            Things for others. Chatting and more (if any more)
        </div>
        <div id="games">
            <hr>
            <h2>Games to join</h2>
            <ul id="gamesToJoin" class="uiHolder">
                <!-- will  be actually objects from the server -->
                <!-- there'll be a if you created, then delete. to remove the game from games list -->
                <li>
                    <span class="nTotal">7{{ x }} total players.</span>
                    <span class="nBots">3{{ x }} bots.</span>
                    <span class="maxHits">4{{ x }} maximum block hits</span>
                    <!-- creator <a class='creator' > link to the chats section-->
                    <a class="gameLink join" href="/game/{{ x }}">JOIN</a>
                </li>
            </ul>
            <h2>Ongoing Games</h2>
            <ul id="ongoingGames" class="uiHolder">
                <!-- will  be actually objects from the server -->
                <li>
                    <span class="nTotal">6{{ x }} total players.</span>
                    <span class="nBots">2{{ x }} bots.</span>
                    <span class="maxHits">5{{ x }} maximum block hits</span>
                    <a class="gameLink watch" href="/game/{{ x }}">WATCH</a>
                </li>
            </ul>
            <hr>
            <h2>Create a game</h2>
            <form id="createGame" class="ui" method="POST" action="/lounge/create/">
                {% csrf_token %}
                    <label for="nTotal">
                        <input type="number" id="nTotal" name="nTotal" min="2" max="8" required> total players
                    </label>
                    <label for="nBots">
                        <input type="number" id="nBots" name="nBots" min="0" max="7" required> bots
                    </label>
                    <label for="maxHits">
                        <input type="number" id="maxHits" name="maxHits" min="2" max="7" required> maximum hits
                    </label>
                    <button class="gameLink create" type="submit">CREATE</button>
            </form>
        </div>
        <div id="user">
            <hr>
            <img id="profilePic" src="{% static '/game/texture/player.svg' %}">
            <h2>Profile Details</h2>
            <ul class="uiHolder">
                <li>Full name: <span>{{ user.first_name }} {{ user.last_name }}</span></li>
                <li>Username: <span>{{ user.username }}</span></li>
                <li>New Password: <span>....</span></li>
                <li>Repeat new password: <span></span></li>
                <li>Submit: <span>{{ x }}</span></li>
                <li><a href="/register/sign/out">Logout</a> <a href="/">Home Page</a></li>
            </ul>            
            <hr>    
            <h2>Stats</h2>
            <ul class="uiHolder">
                <li>Games played: <span>{{ x }}</span></li>
                <li>Games created: <span>{{ x }}</span></li>
                <li>Games won: <span>{{ x }}</span></li>
                <li>Games lost: <span>{{ x }}</span></li>
                <li>Time spent playing: <span>{{ x }}</span></li>
                <li>Blocks broken: <span>{{ x }}</span></li>
            </ul>
        </div>
        <script src="{% static 'lounge/events.js' %}"></script>
    </body>
</html>

<!-- Thank God for telling me. To test with many people. you can just use firefox, chrome, chrome inprivate, edge, edge inprivate.
or even create multiple profiles on chrome/edge and then share screen with somebody.
Thank God. I won't need to host on the internet before I can test well. -->