
{% extends "base.html" %}
{% block title %}
Game Support
{% endblock %}
{% block content %}
{{ message }}
<form method="POST" action="">
    {% csrf_token %}
    Enter your issue: <textarea name="issue" cols=50 rows=10 minlength=10 autocapitalize="characters" required></textarea>
    <input type="submit" value="Submit your issue">
</form>
faqs
how do i create an account<br>
how do i delete my account.<br>
can I have multiple accounts.<br>
should I play alone or with others<br>
will playing alone hinder my progress<br>
area
{% endblock %}

