<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wooden: Reset your password</title>
</head>

<body>
    <h2>Wooden: Password Reset Email</h2>
    <p>Hello, {{ user.first_name }}</p>
    <p>Sorry you lost your former password - that happens sometimes.<br>
        Please use the link below to reset your password. It expires in 24 hours.</p>
    <button style="background: brown;">
        <a style="color: white;"
            href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Reset Wooden
            Password</a>
    </button><br>
    {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}<br>
    <p><small>If you did not request a change of password, please disregard this email.</small></p>
    <footer>
        <h4>Best regards,<br>
            Daniel Enesi.<br>
            Engineering Lead at Wooden</h4>
    </footer>
</body>

</html>