{% extends "base.html" %}
{% load static %}
{% block title %}Confirmaton email sent{% endblock%}
{% block content %}
<div id="helps"></div>
<article class="main-sign-up">
    <div class="sign-up-img"></div>
    <form class="sign-up-form">
        <h2>Email confirmation sent</h2>
        <p>A password reset link has been sent to your email.<br>
            It expires in 24 hours.<br>
            Use it to change your password.
        </p>
        <p>Note: If you do not receive an email (check your spam folder too!), you probably don't have 
            a verified account on Wooden. Please sign up to create an account.<br>
            <b><a href="/signin/">Back to sign in.</a></b>
        </p>
    </form>
</article>
{% endblock %}