body{
    background: #ceaf86;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

*{
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: contain;   
}

#world{
    width: 680px;
    height: 680px;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    color: #ceaf86;
}
/* blocks */
.block{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sand{
    background-color: #ceaf86;
    background-image: url("texture/sand.png");
}
.wood{
    background-color: #8b4b31;
    background-image: url("texture/wood.png");
}
.iron{
    background-color: silver;
    background-image: url("texture/iron.png");
}

.player{
    background-image: url("texture/player.svg");
    width: 35px;
    height: 35px;
}

.enemy{
    background-image: url("texture/enemy.svg");
}

.comrade{
    background-image: url("texture/comrade.svg");
}

#gameInfo{
    position: absolute;
    left: 0;
}