body{
    background: sandybrown;
    display: flex;
    justify-content: center;
    align-items: center;
}

#world{
    width: 700px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
}
/* blocks */
.block{
    width: 50px;
    height: 50px;
}
.sand{
    background-color: sandybrown;
    background-image: url("texture/sand.png");
}
.wood{
    background-color: brown;
    background-image: url("texture/wood.png");
}
.iron{
    background-color: gray;
    background-image: url("texture/iron.png");
}