
{% extends "base.html" %}
{% block title %}
Wooden Developers
{% endblock %}
{% block content %}

<article class="landing-article ul-landing-article">
    <h2>Developers</h2>
    <section>
        <h3>
            <a href="https://www.linkedin.com/in/andrewemeghebo/">Andrew Emeghebo (Frontend Developer)</a>
        </h3>
        <p>
            <p>
                Andrew is a passionate front-end developer with a keen eye for captivating UI designs. 
            </p>
            <p>
                He creates standout digital experiences that makes businesses shine.
            </p>
            <p>
                Trust him to turn your ideas into something amazing,
                make your success story stand out with the magic of design and fabrication,
                empower your brand with the seamless fusion of cutting-edge design and expert development,
                and
                elevate your business above the competition by crafting unique and impactful digital experiences tailored to set you apart. 
            </p>
            <p>
                Andrew transforms your vision into a compelling reality, 
                redefining success through the synergy of design and development.
            </p>
        </p>
    </section>
    
    <section>
        <h3><a href="https://www.linkedin.com/in/enesidaniel/">Daniel Enesi (Backend+JavaScript Developer)</a></h3>
        <p>
            <p>
            Daniel is an enthusiastic learner with strong mathematical aptitude and proficiency in computer programming.
            </p>
           <p>
            His skills include Python and JavaScript programming; backend programming with the Django Web Framework, .NET, and Node.js;
            front-end development with HTML, CSS, and JavaScript; and mathematics.
           </p>
            <p>
                He enjoys admiring front end projects on <a href="https://codepen.io">CodePen</a> and <a href="https://threejs.org/">Three.js</a>
                and likes playing video games, listening to gospel music, and playing table tennis.
            </p>
        </p>
    </section>
    
</article>
{% endblock %}

