
{% extends "base.html" %}
{% block title %}Game Play{% endblock %}
{% block content %}

<article class="landing-article ul-landing-article">
    <h2>How to play.</h2>
    <section>
        <h3>Navigation</h3>
        <ul>
            <li>Use arrow keys to move along corresponding directions.</li>
            <li>You can only move freely on sand blocks.</li>
            <li>You cannot move outside the grid.</li>
        </ul>
    </section>
    
    <section>
        <h3>Breaking Blocks</h3>
        <ul>
            <li>To break a wooden block, keep pressing the key used to face it.</li>
            <li>The number of hits to break a block is specified as wood strength in game creation.</li>
            <li>The block does not store hits - if you turn away from hitting a block, it 'resets'.</li>
            <li>Concrete blocks cannot be broken.</li>
        </ul>
    </section>
    
    <section>
        <h3>Points accumulation</h3>
        <ul>
            <li>Points are gotten from broken blocks. 1 block = 1 point.</li>
            <li>If two gamers try to break a specific block, whoever breaks it first gets the point.</li>
            <li>The gamers with the most blocks broken win.</li>
            <li>The first positions rank up.</li>
        </ul>
    </section>

    <section>
    
    <section id="CHEATS">
        <h3>Cheats</h3>
        <ul>
            <li>Pursue a player to reduce their points, try breaking the blocks they want to break <i>first</i>.
                This might make them lose points and you gain more (or backfire and make you lose points)
            </li>
            <li>Try to be the game creator, you will not see the usernames of all gamers if you join last</li>
        </ul>
    </section>
    <section>
        <h3>Practice - login to access multiplayer mode</h3>
        <a href="/practice/" target="_blank">Play Wooden (with bots)</a>
    </section>
</article>
{% endblock %}

