{% extends "base.html" %}
{% block content %}
<article class="landing-article">
    <h3>Wooden</h3>
    <p>
        Wooden is a simple two-dimensional multiplayer game involving wood
        removal from a maze of sand, wood, and concrete.
    </p>

    <h3>How to play</h3>
    <p>
        The game is best played on a laptop using arrow keys.
        Gamers must break the most number of blocks to win.
        Customizations on number of players and maximum block hits can be made.
        <a href="/game_help/">Learn more</a>
    </p>

    <h3>Development</h3>
    <p>
        Wooden is built on a Django backend and PostgreSQL database, leveraging django channels, redis, and websockets for real time functionality.
        The frontend was made using the Django's, jinja2-like, Template Language, Vanilla CSS, and native JavaScript.
        The game is open source and available on <a href="https://github.com/DanielOnGitHub17/wooden">GitHub</a>. Feel free to contribute.
    </p>

    <h3>Developers</h3>
    <p>
        Andrew Emeghebo and Daniel Enesi are computer science majors at Grambling State University.
        Currently in their junior year, both passionate, aspiring software engineers are actively seeking
        opportunities to elevate their computer science careers.
        While Daniel enjoys fabricating backend logic,
         Andrew finds joy in creating responsive user interfaces and experiences.
        <a href="/dev/">Meet the team</a>
    </p>
</article>
{% endblock %}
