* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

button {
  cursor: pointer;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "New Rocker";
  font-size: 2rem;
  background-color: blanchedalmond;
  background-image: linear-gradient(rgba(255, 235, 205, 0.9),
      rgba(255, 235, 205, 0.9)),
    url("/static/img/bg2.jpeg");
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem 0 2rem;
  font-size: 1.2em;
}

.header img {
  height: 5rem;
}

.header-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: 3rem;
}

.nav-item {
  list-style-type: none;
  display: flex;
  align-items: center;
  height: 100%;
  border-radius: 0.3rem;
}


.nav-sign-up,
.body-form button {
  background-color: #60280a;
  text-decoration: none;
  padding: 1.4rem 5rem;
  color: white;
  border-radius: 0.3rem;
  transition: all 0.3s;
  font-size: 1.6rem;
}

.nav-sign-up:hover {
  background-color: white;
  box-shadow: inset 0 0 0 2px #60280a;
  color: #60280a;
}

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: #60280a;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 2rem;
  height: 100%;
  border: 2px solid #60280a;
  border-top: none;
}

.nav-link:hover,
.nav-link:active {
  text-decoration: none;
  color: white;
  background-color: #60280a;
}

.nav-link::after {
  content: "";
  display: none;
}

.nav-link:hover::after {
  width: 100%;
}

main {
  position: relative;
}

.main-sign-up {
  width: 70rem;
  display: grid;
  background-color: #ffffff;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 1rem 1rem 0 hsla(0, 0%, 20%, 0.127);
  font-size: 1.3rem;
  margin: 5rem auto;
}

.register-form {
  padding: 7rem;
  display: grid;
  gap: 1rem;
}


.register-form h2 {
  padding-bottom: 1.5rem;
  font-size: 3.5rem;
}

.register-form p {
  font-size: 1.2em;
  padding: 10px;

}

.sign-up-img {
  background-image: url("/static/img/sign-up.jpg");
}

.register-form label {
  font-size: 1.8rem;
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.register-form input {
  width: 100%;
  padding: 1.2rem;
  border: none;
  border: 1px solid black;
  font-family: inherit;
  font-size: 1.6rem;
  color: #555;
  margin-top: 0.4rem;
  margin-bottom: 1.5rem;
  border-radius: 1.2rem;
}


.register-form input[type=text] {
  width: max-content;
}

.register-form button {
  background-color: #60280a;
  padding: 1.5rem 4rem;
  color: white;
  border: none;
  border-radius: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  transition: all 0.3s;
  cursor: pointer;
  align-self: flex-end;
}

.register-form button:hover {
  background-color: white;
  box-shadow: inset 0 0 0 2px #60280a;
  color: #60280a;
}

#recaptcha-errors {
  color: red;
}

.helptext {
  display: none;
}

.popup {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60rem;
  padding: 4rem;
  background-color: #333;
  font-size: 1.8rem;
  box-shadow: 0 1rem 1rem 0 hsla(0, 0%, 20%, 0.127);
  color: white;
}

.popup h1 {
  margin-bottom: 2.2rem;
}

.popup p {
  margin-bottom: 3.2rem;
}

.popup p a {
  text-decoration: none;
}

.popup p:last-child {
  margin-bottom: 0;
}

.popup button {
  padding: 2rem;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3.2rem;
  font-size: inherit;
  text-align: right;
  position: absolute;
  right: -8%;
  background-color: #333;
  top: -10%;
  box-shadow: 0 1rem 1rem 0 hsla(0, 0%, 20%, 0.127);
  cursor: pointer;
  border: none;
  color: red;
}


.landing-article {
  width: 70rem;
  margin: 5rem auto;
  background-color: #f2f2f2;
  padding: 4rem;
}

.landing-article p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  margin-bottom: 2rem;
}

.landing-article p:last-child {
  margin-bottom: 0;
}

.landing-article h3 {
  margin-bottom: 1rem;
}

.ul-landing-article {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-height: 90vh;
  overflow-y: scroll;

}

.ul-landing-article li {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.25;

}

.ul-landing-article ul {
  padding-left: 1.45rem;

}

.support-textarea {
  display: inline-block;
  width: 100%;
  padding: 2rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 2rem;
  border: none;
  box-shadow: 0 1rem 1rem 0 hsla(0, 0%, 20%, 0.127);
  margin-bottom: 1rem;
}

.support-button {
  width: 100%;
  padding: 2rem 4rem;
  font-size: 2rem;
  border: none;
  box-shadow: 0 1rem 1rem 0 hsla(0, 0%, 20%, 0.127);
  color: white;
  background-color: #333;
  cursor: pointer;
}

.support-form {
  width: 70rem;
  margin: 0 auto;
  margin-bottom: 10rem;

}

#MESSAGES {
  width: 40vw;
  left: 30vw;
}

.body-form {
  width: 50vw;
  background: white;
  padding: 10px;
  font-size: 0.8em;
  position: relative;
  left: 25vw;
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
}