* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
  }
  
  button{
    cursor: pointer;
  }

  html {
    font-size: 62.5%;
  }
  
  body {
    font-family: "New Rocker";
    font-size: 2rem;
    background-color: blanchedalmond;
    background-image: linear-gradient(
        rgba(255, 235, 205, 0.9),
        rgba(255, 235, 205, 0.9)
      ),
      url("img/bg2.jpeg");
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    background-color: blanchedalmond;
    border-bottom: 2px solid #60280a;
  }
  
  .header img {
    height: 4rem;
  }
  
  .header-ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
  }
  
  .nav-item {
    list-style-type: none;
  }
  
  .nav-sign-up, .body-form button {
    background-color: #60280a;
    text-decoration: none;
    padding: 1rem 4rem;
    color: white;
    border-radius: 0.3rem;
    transition: all 0.3s;
    
  }
  
  .nav-sign-up:hover {
    background-color: white;
    box-shadow: inset 0 0 0 2px #60280a;
    color: #60280a;
  }
  
  .nav-link:link,
  .nav-link:visited {
    text-decoration: none;
    color: #60280a;
    transition: all 0.3s;
    display: inline-block;
  }
  
  .nav-link:hover,
  .nav-link:active {
    text-decoration: none;
    color: #270f01;
  }
  
  .nav-link::after {
    content: "";
    display: block;
    width: 0;
    height: 0.3rem;
    transition: all 0.3s;
    background-color: #270f01;
    cursor: pointer;
  }
  
  .nav-link:hover::after {
    width: 100%;
  }
  
  main {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* height: calc(100vh - 88px); */

    position: relative;
  }
  
  .main-sign-up {
    width: 70rem;
    display: grid;
    background-color: white;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 1rem 1rem 0 hsla(0, 0%, 20%, 0.127);
    font-size: 1.4rem;
    margin: 20rem auto;
  }
  
  .sign-up-form {
    padding: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(3, auto); */
    gap: 1rem;
  }

  .sign-up-form h2 {
    grid-column: 1 / -1;
    padding-bottom: 1.2rem;
  }
  
  .sign-up-img {
    background-image: url("img/sign-up.jpg");
  }

  .sign-up-form input {
    width: 100%;
    padding: 0.6rem;
    border: none;
    border: 1px solid black;
    font-family: inherit;
    font-size: 1rem;
    color: #555;
    margin-top: 0.4rem;
    border-radius: 3rem;
  }
  
  .sign-up-form button {
    background-color: #60280a;
    padding: 0.75rem 4rem;
    color: white;
    border: none;
    border-radius: 3rem;
    width: 100%;
    font-size: 1rem;
    font-family: inherit;
    transition: all 0.3s;
    cursor: pointer;
    align-self: flex-end;
  }
  
  .sign-up-form button:hover {
    background-color: white;
    box-shadow: inset 0 0 0 2px #60280a;
    color: #60280a;
  }
  .helptext{
    display: none;
  }
  .popup {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60rem;
    padding: 4rem;
    background-color: #333;
    font-size: 1.8rem;
    box-shadow: 0 1rem 1rem 0 hsla(0, 0%, 20%, 0.127);
    color: white;
  }
  
  .popup h1 {
    margin-bottom: 2.2rem;
  }
  .popup p {
    margin-bottom: 3.2rem;
  }
  .popup p a {
    text-decoration: none;
  }
  
  .popup p:last-child {
    margin-bottom: 0;
  }
  
  .popup button {
    padding: 2rem;
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 5000px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3.2rem;
    font-size: inherit;
    text-align: right;
    position: absolute;
    right: -8%;
    background-color: #333;
    top: -10%;
    box-shadow: 0 1rem 1rem 0 hsla(0, 0%, 20%, 0.127);
    cursor: pointer;
    border: none;
    color: red;
  }
  

.landing-article {
    width: 70rem;
    margin: 5rem auto;
    background-color: #f2f2f2;
    padding: 4rem;
}

.landing-article p{
    margin-bottom: 2rem;
}

.landing-article p:last-child {
    margin-bottom: 0;
}

.landing-article h3{
    margin-bottom: 1rem;
}

.ul-landing-article {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-height: 90vh;
    overflow-y: scroll;

}

.ul-landing-article li{
    font-family: 'arial';
    line-height: 1.25;

}

.ul-landing-article ul{
    padding-left: 1.45rem;

}

.support-textarea {
    display: inline-block;
    width: 100%;
    padding: 2rem;
    font-family: 'arial';
    font-size: 2rem;
    border: none;
    box-shadow: 0 1rem 1rem 0 hsla(0, 0%, 20%, 0.127);
    margin-bottom: 1rem;
}
.support-button {
    width: 100%;
    padding: 2rem 4rem;
    font-size: 2rem;
    border: none;
    box-shadow: 0 1rem 1rem 0 hsla(0, 0%, 20%, 0.127);
    color: white;
    background-color: #333;
    cursor: pointer;
}

.support-form {
    width: 70rem;
    margin: 0 auto;
    margin-bottom: 10rem;

}

#MESSAGES{
  width: 40vw;
  left: 30vw;
}

.body-form{
  width: 50vw;
  background: white;
  padding: 10px;
  font-size: 0.8em;
  position: relative;
  left: 25vw;
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
}