{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="{% static 'img/favicon.png' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=New+Rocker&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'app.css' %}">
    <link rel="stylesheet" href="{% static 'both.css' %}">
    <script src="https://danielongithub17.github.io/funcs.js"></script>
    <title>{% block title %}Wooden Game{% endblock %}</title>
  </head>
  <body>
    {% include "app/menu.html" %}
    {% include "messages.html" %}
    {% include "app/online.html" %}
    <header class="header">
      <a href="/"><img src="{% static 'img/logo.png' %}" alt="Wooden Logo" /></a>
      <button type="button" id="SHOW_MENU">Menu</button>
    </header>
    <div id="APP">
        {% block content %}
        {% endblock %}
    </div>
    <div id="START">
      <button onclick="document.firstElementChild.requestFullscreen()">Enter Game</button>
    </div>
    <script type="module" id="USERNAME" src="{% static 'scripts.js' %}">{{ user.username }}</script>
  </body>
</html>