{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="{% static 'img/favicon.png' %}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=New+Rocker&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <link rel="stylesheet" href="{% static 'both.css' %}">
  <script src="https://danielongithub17.github.io/funcs.js"></script>
  <title>{% block title %}Wooden{% endblock %}</title>
</head>

<body>
  {% include "messages.html" %}
  <header class="header">
    <a href="/">
      <img src="{% static 'img/logo.png' %}" alt="Wooden Logo" />
    </a>
    <nav class="header-nav">
      <ul class="header-ul">
        <li class="nav-item">
          <a href="/game_help/" class="nav-link">How to play</a>
        </li>
        <li class="nav-item">
          <a href="/support/" class="nav-link">Game support</a>
        </li>
        <li class="nav-item">
          <a href="/dev/" class="nav-link">Developers</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a href="/lounge/" class="nav-link">Lounge</a>
        </li>
        <li class="nav-item">
          <a href="/signout/" class="nav-link">Sign Out</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a href="/signin/" class="nav-link">Sign In</a>
        </li>
        <li class="nav-item">
          <a href="/signup/" class="nav-link">Sign Up</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
  <script type="module" id="USERNAME" src="{% static 'scripts.js' %}">{ { user.username } }</script>
</body>

</html>