{% load static %}
<!DOCTYPE html>
<html writingsuggestions=true>
    <head>
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="expires" content="0">
        <meta http-equiv="pragma" content="no-cache">
        <link rel="stylesheet" href="{% static 'styles.css' %}">
        <link rel="stylesheet" href="{% static 'game/game.css' %}">
        <link rel="stylesheet" href="https://danielongithub17.github.io/loading.css">
        <script src="https://danielongithub17.github.io/funcs.js"></script>
        <title>WOODEN</title>
    </head>
    <div id="SETTINGS">
        {% if multiplayer %}
        <div id="WAIT_ROOM">
            <h2>Hello, <span id="USERNAME">{{ user.username }}</span>.</h2>
            <h3>Players for game #<span id="ID">{{ game.id }}</span><br>
                <span id="COUNT">{{ game.joined }}</span>/<span id="N">{{ game.count }}</span> joined.
            </h3>
            <!-- You could overide Players_list.remove/removeChild/append/appendChild 
             to change COUNT. Or use MutationObserver-->
            <table id="PLAYERS_LIST">
                {{ players|json_script:"GAMERS" }}
                <tr>
                    <th>Username</th><th>Joined</th><th>Present</th>
                </tr>
                <!--
                - It Gamer.gamers will be a mapping from username to Gamer for easy control.
                - Gamers will be connected to the players/bots from Game.start()
                 -->
            </table>
        </div>
        {% else %}
        <form id="PRACTICE">
            <h3>Practice Playing with bots</h3>
            <label>Number of bots: <input type="number" name="botCount" min="0", max="9" value=3 required></label>
            <label>Maximum Hits: <input type="number" name="maxHits" min="2", max="7" value=4 required></label>
            <button id="START" type="submit">Start Practice</button>
        </form>
        {% endif %}
    </div>
    <div id="WORLD"></div>
    <div id="GAME_OVER">
        <h2>GAME OVER</h2>
        <h3>Top Players for game</h3>
        <ul id="WINNERS_LIST">
            <!-- players will be added here -->
        </ul>
        {% if multiplayer %}
        <p id="STATUS"></p>
        <form action="/game/end/" method="post" id="SEND_STATUS">
            {% csrf_token %}
            <input type="checkbox" name="won" hidden>
            <button type="submit">CONTINUE TO LOUNGE</button>
        </form>
        {% else %}
        <button type="button" onclick="load()">Practice Again</button>
        {% endif %}
        <!-- List best players with their username -->
        
    </div>
    {{ game_data|json_script:"GAME_DATA" }}
    <script src="{% static 'game/block.js' %}"></script>
    <script src="{% static 'game/player.js' %}"></script>
    <script src="{% static 'game/bot.js' %}"></script>
    <script src="{% static 'game/game.js' %}"></script>
    {% if multiplayer %}
    <script src="{% static 'game/gamer.js' %}"></script>
    <script src="{% static 'game/socket.js' %}"></script>
    {% endif %}
    <script src="{% static 'game/events.js' %}"></script>
</html>