{% extends "base.html" %}
{% load static %}
{% block title %}{{ user.name }} Lounge{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'lounge/lounge.css' %}">
<div id="games">
    <hr>
    <ul>
        <li>{{ user.username }}</li>
        <li>{{ user.get_full_name }}</li>
    </ul>
    <form id="CREATEGAME" method="POST" action="/lounge/">
        {% csrf_token %}
        <h3>Game creation</h3>
        <ul>
            {{ game_creation_form.as_ul }}
            <input type="submit" value="CREATE GAME">
        </ul>
    </form>
    <h2>Games to join</h2>
    <ul id="gamesToJoin">
        {% for game in games %}
        <li>
            <!-- will be a form join will be submit button -->
            <span>{{ game.pk }}.</span>
            <span>{{ game.n_real }} real players.</span>
            <span>{{ game.n_bots }} bots.</span>
            <span>{{ game.max_hits }} maximum block hits</span>
            <!-- creator <a class='creator' > link to the chats section-->
            <a>JOIN</a>
        </li>
        {% endfor %}
    </ul>
    <!-- Add support for watching ongoing games later. -->
    <!-- add support for chatting later - online players will be in this page -->
</div>
<script src="{% static 'lounge/events.js' %}"></script>
<!-- <script src="{% static 'funcs.js' %}"></script> -->
{% endblock %}