{% extends "base.html" %}
{% load static %}
{% block title %}{{ user.first_name }}'s Lounge{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'lounge/lounge.css' %}">
<div id="games">
    <hr>
    <ul>
        <li>Hi, {{ user.username }}. Rank: {{ user.player.rank }}</li>
        <li>{{ user.get_full_name }}</li>
        <li><a href="/game/" target="_blank">Practice</a></li>
    </ul>
    
    {% if user.player.game %}
    <form action="/game/" method="post">
        {% csrf_token %}
        <input type="submit" value="Go to Your Game">
    </form>
    {% else %}
    <form id="CREATEGAME" method="POST" action="/lounge/">
        {% csrf_token %}
        <h3>Game creation</h3>
        <ul>
            {{ form.as_ul }}
            <input type="submit" value="CREATE GAME">
        </ul>
    </form>
    <h2>Games to join</h2>
    <form action="/game/join/" method="post">
        {% csrf_token %}
        <ul id="gamesToJoin">
            {% for game in games %}
            <li>
                <label>
                    <input type="radio" name="game_id" value="{{ game.id }}" required>
                    <span>{{ game.count }} players.</span>
                    <span>{{ game.max_hits }} maximum block hits</span>
                </label>
            </li>
            {% endfor %}
        </ul>
        {% if games %}<input type="submit" value="Join Game">{% endif %}
    </form>
    {% endif %}
</div>
<script src="{% static 'lounge/events.js' %}"></script>
<!-- <script src="{% static 'funcs.js' %}"></script> -->
{% endblock %}