{% extends "base.html" %}
{% load static %}
{% block title %}Reset your Wooden password{% endblock%}
{% block content %}
<div id="helps"></div>
<article class="main-sign-up">
    <div class="sign-up-img"></div>
    <form action="" class="sign-up-form" method="POST">
        {% if form %}
        <h2>Confirm New Password</h2>
        {% csrf_token %}
        {{ form }}
        <button type="submit">Confirm Password</button>
        {% else %}
        <h2>This password reset link has expired. Please try to reset your password again</h2>
        {% endif %}
    </form>
</article>
<script src="{% static 'register/signs.js' %}"></script>
{% endblock %}