{% extends "base.html" %}
{% load static %}
{% block content %}
<form action="/register/log/" method="{{ which.0 }}">
    <legend>{{ which.1 }}</legend>
    {% if message %}
    <h3 class="message">{{ message }}</h3>
    {% endif %}
    {% csrf_token %}
    <ul>
        {% if which.0 == "POST" %}
        <li>
            <label for="firstName">First Name</label>
            <input type="text" placeholder="Daniel" name="first_name" id="firstName">
        </li>
        <li>
            <label for="lastName">Last Name</label>
            <input type="text" placeholder="Enesi" name="last_name" id="lastName">
        </li>
        {% endif %}
        <li>
            <label for="username">User Name: </label>
            <input type="text" placeholder="User Name" name="username" maxlength="20" id="username">
        </li>
        <li>
            <label for="password">Password: </label>
            <input type="password" name="password" id="password">
        </li>
    </ul>
    <input type="submit" value="{{ which.2 }}">
</form>
<script src="{% static 'register/signs.js' %}">
</script>
{% endblock %}

{% block title %}
Access your account
{% endblock%}