
{% extends "base.html" %}
{% block title %}
Game Support
{% endblock %}
{% block content %}
<ul>
    <li>How do i create an account?</li>
    <li>How do i delete my account?</li>
    <li>Can I have multiple accounts?</li>
    <li>Will playing alone hinder my progress?</li>
    <li>Should I play alone or with others?</li>
</ul>
<form method="POST" action="">
    {% csrf_token %}
    <textarea name="issue"
     cols=30 rows=5 minlength=10
      autocapitalize="characters"
       required placeholder="Enter your issue"></textarea>
    <input type="submit" value="Submit your issue">
</form>
{% endblock %}

